form {
    width: 25vw;
    max-width: 400px;
    position: fixed;
    right: 0;
    top: 0;
    background-color: beige;
    height: 100%;
    padding: 10px;
    overflow-y: auto;
}

form input, form button, form select {
    width: 100%;
}

form select {
    height: 30px;
}

form select {
    cursor: pointer;
}

.display_none {
    display: none !important;
}

.modal-body span {
    font-weight: bold;
}

form div {
    margin: 5px 0;
}

.btn {
    width: 100%;
}

.form-check-input {
    margin-top: -2px !important;
}

.box {
    float: left;
    border: 2px black solid;
}

.box h1 {
    margin-left: 10px;
    margin-top: 10px;
    border: 1px black solid;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 25px;
    background-color: blue;
    color: whitesmoke;
}

.hidden {
    visibility: hidden !important;
}

.open {
    /*opacity: 0.5;*/
}

.closed {
    opacity: 1;
}

#stack p:first-child {
    color: red;
}

#moves p:last-child {
    color: red;
}


/*.link {*/
/*!*stroke: #c1c1c1;*!*/
/*stroke-width: 10px;*/
/*pointer-events: all;*/
/*}*/

.link {
    stroke-opacity: .6;
}

.node circle {
    pointer-events: all;
    stroke: #777;
    stroke-width: 1px;
}

path {
    fill: none;
    stroke-width: 3;
}

div.tooltip {
    position: absolute;
    background-color: white;
    max-width: 200px;
    height: auto;
    padding: 1px;
    border-style: solid;
    border-radius: 4px;
    border-width: 1px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
    pointer-events: none;
}

#div_graph {
    width: 100%;
    height: 100vh;
}

#btn_lower_approx, #btn_upper_approx {
    font-size: large;
    height: auto;
}

#formula {
    width: 100%;
    height: auto;
    font-size: large;
    font-weight: bold;
}